/* Dialog.scss */
.wheel-of-destiny-33kl__dialog {
  position: fixed;
  max-width: 50rem;
  width: 90%;
  z-index: 5;
}

.dialog-33kl__close {
  margin-left: calc(100% - 3rem);
}

.dialog-33kl__ctas .bg-danger {
  background-color: var(--bg-danger);
}

.dialog-33kl__ctas .bg-success {
  background-color: var(--bg-success);
}
