/* Dialog.scss */
.wheel-of-destiny-33kl__dialog {
  position: fixed;
  max-width: 50rem;
  width: 90%;
  z-index: 5;

  &::backdrop {
    background-color: rgba(var(--dr-delta-rgb), 0.25);
  }
}

.dialog-33kl__close {
  margin-left: calc(100% - 3rem);
}
