/* styles.css */
.slices-container {
  max-width: 60rem;
  width: 100%;
  background-image: linear-gradient(-10deg, var(--dr-zeta), var(--dr-epsilon));
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
}

.saved-wheels-portal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--dr-delta-rgb), 0.2);
  z-index: 4;
}

.slices-container > div {
  min-height: 100vh;
}

.slice-title {
  text-transform: uppercase;
}

.slices-container {
  img {
    max-width: 400px;
    margin: auto;
    display: block;
    height: 100%;
    width: 90%;
  }
}
