/* styles.css */
.slices-container {
  max-width: 60rem;
  width: 100%;
  background-image: linear-gradient(-10deg, var(--dr-zeta), var(--dr-epsilon));
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
}

.slices-container > div {
  min-height: 100vh;
}

.slice-title {
  text-transform: capitalize;
}
